.Modal {
  z-index: 500;
  margin: 120px auto;
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition: all 5s ease-in-out;
}

.Modal.contactInfo {
  width: 500px;
}

.Modal.editIntro {
  width: 700px;
}

//@media (min-width: 1600px) {
//  .Modal {
//    width: 500px;
//    left: calc(50% - 250px);
//  }
//}