.Modal {
  position: relative;
  min-height: 400px;
  background: white;
  z-index: 500;
  border-radius: 6px;
  transition: all 5s ease-in-out;
}

.Modal.contactInfo {
  width: 500px;
}

.Modal.editIntro {
  width: 700px;
}

@media (min-width: 1600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}