.Modal {
  position: fixed;
  background: white;
  z-index: 100;
  border-radius: 4px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  transition: all 5s ease-in-out;
}

.Modal.contactInfo {
  width:530px;
}

.Modal.editIntro {
  width: 600px;
}

.Modal.editAbout {
  width: 550px;
}

//@media (min-width: 1600px) {
//  .Modal {
//    width: 500px;
//    left: calc(50% - 250px);
//  }
//}