.profile_wrapper {
  background-color: #ccc;
  margin-top: 56px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  overflow-x: hidden;
}

.profile_box_wrapper {
  background-color: white;
  position: relative;
  width: 800px;
  height: 350px;
  margin: 30px auto 10px auto;
  text-align: left;
  border-radius: 3px;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,0.4);
}

.profile_image {
  position: absolute;
  width: 100%;
  height: 170px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.circle_avatar {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  left: 35px;
  margin-top: 85px;
  z-index:4;
  box-shadow: 2px 3px 12px -1px rgba(0,0,0,0.4);
}

.circle_avatar:hover,
.circle_avatar:focus {
  background-color: rgba(0,0,0,0.5);
}

.circle_avatar.upload {
  opacity: 0;
  z-index:5;
  cursor: pointer;
}

.profile_info {
  width: 100%;
  height: 180px;
  background-color: #FFFFFF;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.profile_info_left {
  position: absolute;
  left: 0;
}

.profile_info_right {
  position: absolute;
  margin-right: 20px;
  margin-top: 20px;
  right: 0;
}

.info_name {
  font-family: Gisha;
  margin-top: 80px;
  margin-left: 35px;
  font-size: 26px;
  font-weight: bold;
}

.info_data {
  font-family: Gisha;
  margin-top: 10px;
  margin-left: 35px;
  font-size: 15px;
}

.info_data:last-child {
  margin-top: 3px;
}

.profile_edit_img {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 0;
}

.edit_icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
  position: absolute;
  padding: 11px;
  right: 0;
}

.contact_info {
  color: #1E90FF;
  font-weight: bold;
  font-family: Gisha;
  margin-top: 95px;
  white-space: nowrap;
  cursor: pointer;
}

.profile_edit_img:focus,
.profile_edit_img:hover {
  background-color: #edf2f7;
  border-radius: 50%;
}

.profile_box_wrapper.about {
  height: 120px;
  margin: 5px auto 15px auto;
}

.about_title {
  position: absolute;
  margin-left: 35px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
}

.about_body {
  position: absolute;
  margin-top: 50px;
  margin-left: 35px;
}

.edit_about_wrapper {
  position: relative;
  height: 300px;
  text-align: center;
}

.edit_about_head {
  padding: 10px;
  color: #1E90FF;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
}

.edit_about_head.success {
  text-align: center;
  padding-top: 20px;
}

.edit_about_textarea {
  width: 450px;
  height: 160px;
  padding: 16px;
  resize: none;
  border-radius: 3px;
  font-size: 18px;
}

.edit_about_textarea:focus {
  outline: none;
  border: 1px solid #1E90FF;
}

.edit_about_btn {
  padding: 8px;
  width: 70px;
  font-size: 16px;
  color: #112C41;
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #cccccc;
  cursor: pointer;
}

.edit_about_btn:focus,
.edit_about_btn:hover{
  background-color: #1E90FF;
  outline: none;
}

.success_body {
  text-align: center;
}

.success_img {
  height: 80px;
  margin-top: 10px;
}

.contact_info_header {
  padding: 10px 16px;
  align-items: center;
  border-bottom: 1px solid #1E90FF;
}

.contact_info_head {
  padding: 7px;
  color: #1E90FF;
  font-weight: 400;
  font-size: 20px;
  margin-left: 10px;
}

.contact_info_cancel {
  position: absolute;
  right: 1%;
  top: 0;
  margin-top: 5px;
  padding: 16px 24px;
  cursor: pointer;
}

.cancel {
  font-size: 14px;
  color: #cccccc;
}

.cancel:hover,
.cancel:focus {
  color: black;
}

.contact_info_body {
  display: block;
  overflow: scroll;
  overflow-x: hidden;
  padding: 16px 24px;
  max-height: 320px;
}

.contact_info_title {
  padding: 7px;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.contact_info_edit_img {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 0;
}

.contact_info_group {
  margin-bottom: 6px;
  margin-left: 10px;
  padding: 8px;
}

.contact_info_group:last-child {
  margin-bottom: 10px;
}

.contact_info_row {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.contact_info_label {
  margin-left: 14px;
}

.contact_info_input {
  border: none;
  width: 200px;
  margin-left: 40px;
  border-bottom: 1px solid #1E90FF;
}

.contact_info_data {
  margin-left: 40px;
}

.contact_info_input:focus,
.contact_info_input:hover {
  outline: none;
}
.contact_info_edit_img {
  position: absolute;
  right: 5%;
  top: 15%;
}

.contact_info_edit_img:focus,
.contact_info_edit_img:hover {
  background-color: #edf2f7;
  border-radius: 50%;
}

.contact_info_save_btn {
  padding: 8px;
  border: 1px solid #1E90FF;
  border-radius: 4px;
  color: white;
  background-color: #1E90FF;
  cursor: pointer;
}

.contact_info_save_btn:hover,
.contact_info_save_btn:focus {
  outline: none;
}

/// edit intro

.edit_intro_wrapper {
  position: relative;
  width: 700px;
  height: 500px;
}

.edit_intro_header{
  height: 54px;
  width: 100%;
  border-bottom: 1px solid #1E90FF;
}

.edit_intro_head {
  color: #1E90FF;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
}

.edit_intro_header_left {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  padding: 18px;
}

.edit_intro_option {
  margin-right: 10px;
  color: #cccccc;
  font-weight: bold;
  cursor: pointer;
}

.edit_intro_option:hover,
.edit_intro_option:focus {
  color: #1E90FF;
}

.edit_group_label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
  margin-left: 15px;
  margin-top: 8px;
}

.edit_general {
  margin-top: 8px;
}

.edit_intro_group {
  display: flex;
  height: 40px;
  margin-left: 18px;
}

.edit_intro_label {
  padding: 6px;
  font-size: 14px;
}

.edit_intro_item {
  width: 150px;
  height: 13px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 6px;
  border-radius: 2px;
  margin-bottom: 4px;
}

.edit_intro_item:focus{
  outline: none;
  border-bottom: 1px solid #1E90FF;
}

//@media (max-width: 1600px) {
//  .profile_box_wrapper {
//    width: 60%;
//  }
//}